@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Pangolin&family=Press+Start+2P&family=Righteous&family=Roboto&display=swap');

/* Reseteado */

* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

/* Logo */

.logo {
    font-size: 80px;
    text-align: center;
    color: #FEF4E8;
    background-color: #970747;
    font-family: 'Major Mono Display', monospace;
    padding: 5px 0 15px;
    border-bottom: 1px solid #fff;
}

/* Navbar */

.contenido {
    list-style-type: none;
    overflow: hidden;
    background-color: #970747; 
}

.menu-item {
    float: left;
}

.menu-link {
    font-size: 23px;
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 5px 20px ;
    transition: background-color ease .3s;
}

.menu-link:hover {
    background-color: #8d4b69;
}

/* Titular */

.contenetor-titular {
    background-color: #FEF4E8;
    width: 80%;
    margin: auto;
    position: relative;
}

.img-titular {
    width: 100%;
    object-fit: cover;
}

.bg-titular {
    background-color: rgba(255, 255, 255, .4);
    filter: blur(1px);
}

.titutlar {
    font-size: 30px;
    text-align: center;
    font-family: 'Righteous', cursive;
    padding: 20px 0;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}


